@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

#about-me {
    padding: 50px 0;
    overflow: hidden;
    padding: 15vh 100px 15vh 100px;
    font-family: "Noto Sans KR", sans-serif;
    background-color: black;
}

.about-me_title{
    font-size: 45px;
    letter-spacing: 5px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: right;
    color: white;
    font-family: "Anton", sans-serif;
}

.about-me_box {
    display: flex;
    justify-content: space-between;
    height: 60vh;
    padding: 5vw 0vw 5vw 7vw;
    background-color: white;
    border-radius: 65px 0 65px 0;
}

.about-me-group1{
    text-align: center;
    width: calc(35% - 20px);
    height: 100%;
    font-size: 0;
    transform: translateY(500%);
    opacity: 0;
    transition: transform 0.3s ease;
}

.about-me-group1.show {
    opacity: 1;
    transform: translateY(0);
}

.about-me-group1 img{
    width: 61%;
    border-radius: 25px 0 25px 0;
}

.img_dsc{
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
}

.img_dsc_name{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.img_dsc_info{
    font-weight: 700;
    font-size: 16px;
}

.about-me-group2{
    width: calc(65% - 20px);
    height: 100%;
    font-size: 28px;
    padding: 4px 20px 20px 20px;
    box-sizing: border-box;
    opacity: 0;
    transform: translateX(500%);
    transition: transform 0.3s ease;
}

.about-me-group2.show {
    opacity: 1;
    transform: translateX(0);
}

.info_title{
    margin-bottom: 20px;
}

.info_title span{
    background-color: black;
    color: white;
    padding: 3px 10px 3px 10px;
    font-weight: 900;
    border-radius: 13px 0 13px 0;
}

.info_detail_title{
    margin-bottom: 5px;
    font-weight: 900;
}

.info_detail_top{
    margin-bottom: 30px;
}

.info_detail_txt_box{
    border-left: 6px solid;
}

.info_detail_txt{
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
}